@mixin prefix($stylename, $value, $options: webkit moz o ms) {
    #{$stylename}: $value;

    @each $option in $options {
        @if $option == webkit {
            -webkit-#{$stylename}: $value;
        }
        @else if $option == moz {
            -moz-#{$stylename}: #{$value};
        }
        @else if $option == o {
            -o-#{$stylename}: #{$value};
        }
        @else if $option == ms {
            -ms-#{$stylename}: #{$value};
        }
    }
}

.test {
    @include prefix(background, blue);
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.display-flex {
    display: box; /* OLD - Android 4.4- */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-direction-row {
    @include prefix(flex-direction , row);
    
}

.flex-direction-column {
    @include prefix(flex-direction, column);
}

.flex-1 {
    @include prefix(flex, 1);
}

.flex-0-5 {
    @include prefix(flex, 0.5);
}

.flex-0-25 {
    @include prefix(flex, 0.25);
}

.justify-content-center {
    @include prefix(justify-content, center);
}

.justify-content-space-between {
    @include prefix(justify-content, space-between);
}

.justify-content-end {
    @include prefix(justify-content, flex-end);
}

.align-items-center {
    @include prefix(align-items,center);
}

.align-items-end {
    @include prefix(align-items,flex-end);
}

.align-items-start {
    @include prefix(align-items,flex-start);
}
